{% extends 'question/search.html' %}
{% load crispy_forms_tags %}
{% block title %} AskMe {% endblock %}
{% block script %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
      <script>
  $( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#id_tag" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
 {% endblock %}
{% block auth_content %}
<h2> Ask a question </h2>
<form method="POST">
    {% csrf_token %}
    <div class="form-style {% if form.title.errors %} error {% endif %} ">
        {{form.ask_form.title.errors}}
        {{form.ask_form.title | as_crispy_field}}
    </div>

    <div class="form-style {% if form.description.errors %} error {% endif %} ">
        {{form.ask_form.description.errors}}
        {{form.ask_form.description | as_crispy_field}}
    </div>

    <div class="form-style {% if tag_form.tag.errors %} error {% endif %} ">
        {{form.tag_form.tag.errors}}
        {{form.tag_form.tag | as_crispy_field}}
    </div>


    <button class=" btn btn-lg btn-primary">Ask!</button>
</form>
{% endblock %}