{% extends 'question/search.html' %}


{% block auth_content %}

    {% for i_question in page_obj %}
        <a href="/question/{{i_question.id|cut:" "}}">
        {{ i_question.id|upper}} {{ i_question.title|upper }}<br></a>
        <p style="text-align:right;">{{ i_question.author }}</p>
        <br>
        {{ i_question.description }}
        {% for i_tag in i_question.tag.all %}
            <a href="/tag?name={{ i_tag.tag }}">{{ i_tag.tag }}</a>
            <br>
        {% endfor %}
        <hr nodashed size="1px" style="border:dotted">
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}